* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  min-height: 100vh;
  width: 50%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h3 {
  white-space: nowrap;
}

h3 {
  color: rgb(180, 180, 180);
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.3rem;
  }  
  main {
    min-width: 330px;
  }
}

@media screen and (max-width: 650px) {
  body {
    font-size: 1.2rem;
  }  
  main {
    min-width: 330px;
  }
}

#social {
  padding: 5px 0px;
  display: flex;
  transform: translateX(-15px);
}

.social-item {
  list-style: none;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
  margin-left: 15px;
}

.social-link{
  color: white;
}
.social-link:hover{
  color: rgb(180, 180, 180);
}


#projects {
  position: absolute;
}

.about {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#profile-img {
  width: 90%;
  max-width: 250px;
}

#text-container {
  margin-top: 10px;
  width: 90%;
  font-size: 1.2rem;
}

#nav-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  max-width: 500px;
}

.nav-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-link {
  padding: .8rem;
}

.nav-item:hover {
  color: rgb(180, 180, 180);
}

.current {
  border-bottom: 3px solid white;
}

.hide {
  display: none;
}

